.all {
	width: 600px;
	height: 800px;
	position: relative;
	margin: 30px auto;
}
.container {
	width: 600px;
	height: 570px;
	background: url(../images/bg.png)no-repeat center center;
	background-size: contain;
	transition: all 3s ease;
	position: relative;
}
.now {
	display: block;
	width: 200px;
	height: 260px;
	border: 0;
	position: absolute;
	top: 130px;
	left: 200px;
	background: url(../images/now.png)no-repeat center center;
	background-size: cover;
	cursor: pointer;
}
.now:active {
	outline: 0;
}
.now:visited {
	outline: 0;
}
.item {
	width: 100px;
	text-align: center;
	color: #fff;
	position: absolute;
}
.item1 {
	top: 90px;
	left: 254px;
}
.item2 {
	top: 145px;
	left: 115px;
	transform: rotate(-45deg);
}
.item3 {
	top: 272px;
	left: 60px;
	transform: rotate(-90deg);
}
.item4 {
	top: 408px;
	left: 114px;
	transform: rotate(-135deg);
}
.item5 {
	top: 460px;
	left: 248px;
	transform: rotate(180deg);
}
.item6 {
	top: 400px;
	left: 380px;
	transform: rotate(135deg);
}
.item7 {
	top: 270px;
	left: 430px;
	transform: rotate(90deg);
}
.item8 {
	top: 140px;
	left: 380px;
	transform: rotate(45deg);
}