html {
	font-size: 62.5%;
}
.container {
	margin: 14% auto;
	padding: 16% 4%;
	position: relative;
	max-width: 500px;
}
input {
	display: block;
	margin: 0 auto;
	width: 86%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	margin-bottom: 12px;
}
.btn {
	display: block;
	margin: 0 auto;
	width: 86%;
	padding: 12px 10px;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
}
.btn-success {
	background: #5cb85c;
}
.btn-danger {
	background: #F37023;
}
#message {
	width: 60%;
	font-size: 1.6rem;
	background: rgba(0,0,0,.6);
	color: #fff;
	text-align: center;
	height: 3rem;
	line-height: 3rem;
	position: absolute;
	top: 16px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 2px;
	display: none;
}
p {
	height: 4.2rem;
	line-height: 4.2rem;
	text-align: center;
	font-size: 1.6rem;
}
.logo {
	width: 96%;
	margin: 0 auto;
}
img {
	width: 100%;
}
#login_mod, #register_mod {
	margin: 38% auto;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 2s;
}
#register_mod {
	display: none;
}