html {
	height:100%;
	width:100%;
	margin:0 auto 0 auto;	
}
.top {
	width: 100%;
    background: #bbc3c3;
    height: 10rem;
    padding-top: 1rem;	
}
.container {
	padding-top: .6rem;
	overflow: hidden;
	_zoom: 1;	
}
.right {
	height: 26rem;	
	display: none;
}
.prize_control {
    width: 13rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border: 1px solid #000;
    margin: 0 auto;
    border-radius: .2rem;	
	letter-spacing: .3rem;
}
table {
	width: 100%;	
}
.inner {
	height: 26rem;
    overflow-y: auto;
}
.inner th {
	display: inline-block;	
}
.inner th:nth-child(1),#Table td:nth-child(1){
	width: 10%;
}
.inner th:nth-child(2),#Table td:nth-child(2){
	width: 30%;
}
.inner th:nth-child(3),#Table td:nth-child(3){
	width: 28%;
}
.inner th:nth-child(4),#Table td:nth-child(4){
	width: 26%;
}
#Table td:nth-child(2) {
	text-align: left;	
}
#Table td{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	height: 3rem;
	line-height: 3rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sel {
	display: inline-block;
    width: 31%;
    text-align: center;
    border: 1px solid;
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: .2rem;	
}
.sel_group {
	width: 90%;
	margin: 0 auto;	
	margin-bottom: 1rem;
}
img {
	width: 3rem;	
}
tr:nth-child(even){
	color: #605f63;	
}